@import url(reset.css);


body {
    font-family: "Carattere", "Noto Sans TC";
    font-weight: 400;
    font-style: normal;
    padding-top: 100px;
}

/* ---------頁首選單區------------------ */
/* -----------------選單選項-------------------------------- */
header {
    width: 100%;
    height: 100px;
    background-color: #D3E4CD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

/* --------------漢堡線(隱藏)------------------- */

header .hamburger{
    display: none;
    width: 40px;
}

/* -----------選單中的登入列(隱藏)------------ */

header .items>.login{
    display: flex;
    display: none;
}

header .items>.login a{
    color: #649255;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

/* ----------------------------------------------- */

header ul {
    display: flex;
    display: block;
}


header img {
    width: 25vw;
    flex-shrink: 0;
    line-height: 100px;
    margin-left: 20px;
}

.items {
    display: flex;
    gap: 4vw;
}

.items li {}


.items a {
    text-decoration: none;
    color: #606060;
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
}

.items a:hover {
    font-weight: 600;
    color: #649255;
}

/* ---------------------子選單-------------------- */
.items li+.list ol {
    position: absolute;
    display: block;
    background-color: #e9f2e6;
    display: none;
    padding: 0 20px;
}

.items li+.list>ol li {
    width: 120px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid #649255;
}

.items li+.list>ol li:nth-child(3){
    border-bottom: none;
}

.items li+.list>ol a {
    line-height: 60px;
}


.items>li+.list:hover ol {
    display: block;
}

/* ----------------------搜尋 會員登入---------------------------- */

.icon {
    display: flex;
    margin-right: 20px;
}

.icon li {}

.icon a {}

.icon img {
    width: 24px;
    height: 24px;
    margin: 10px;
}

/* ----------------首圖banner------------------- */
.swiper {
    width: 100%;
    font-size: 0;  
}


.swiper-slide img{
    background-size: contain;
    width: 100%;
}

.swiper-button-prev:after,.swiper-button-next:after{
    color:#A6A6A6;
}

/* -------------商品列表--------------------- */
main {
    background-image: url(../image/all-product\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* -------------商品標題-------------------- */
.title {
    width: 94%;
    margin: 0 auto;
    border-bottom: 2px solid #649255;
    padding-top: 40px;
    margin-bottom: 30px;
}

.title ul {
    display: flex;
}

.title li {
    color: #649255;
    font-family: "Noto Sans TC";
    font-size: 28px;
    font-weight: 700;
    line-height: 60px;
    flex-grow: 1;
}

.title a {
    color: #606060;
    font-family: "Noto Sans TC";
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    float: right;
}

.title a:hover {
    color: #606060;
    font-size: 18px;
    font-weight: 600;
}

.title img {
    width: 12px;
    height: 12px;
    margin-left: 4px;
}


/* -----------商品列表-------------------- */
.product {
    width: 1188px;
    margin: 0 auto;
    font-size: 0;
}

.product ul {
    display: flex;
    flex-wrap: wrap;
    width: 1188px;
    justify-content: space-between;
}

.product li {}

.product a {
    width: 282px;
    height: 282px;
    text-decoration: none;
}

.product .pic {
    width: 282px;
    height: 282px;
    overflow: hidden;
    border-radius: 20px;
}

.product img {
    width: 282px;
    height: 282px;
    border-radius: 20px;
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.product img:hover {
    transform: scale(1.2, 1.2);
}

.product h3 {
    width: 282px;
    color: #505050;
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
    white-space: normal;
}

.product h3:hover {
    color: #649255;
    font-weight: 600;
}

.product p {
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 42px;
}

.product p:hover {
    color: #649255;
    font-weight: 700;
}



/* --------------頁尾------------------- */
footer {
    width: 100%;
    height: 280px;
    background-color: #D3E4CD;
}

.bottom {
    width: 62vw;
    height: 210px;
    margin: 0 auto;
    padding: 28px;
}

.bottom ul {
    display: flex;
    width: 45vw;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 8px;
}

.bottom li {}

.bottom a {
    color: #606060;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.bottom a:hover {
    font-weight: 600;
    color: #649255;
}

.bottom img {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.bottom p {
    font-family: "Noto Sans TC";
    color: #606060;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
    line-height: 1.5;
}