@import url(reset.css);


body {
    font-family: "Carattere", "Noto Sans TC";
    font-weight: 400;
    font-style: normal;
}

/* -----------------頁首選單區--------------------------------- */
/* -----------------選單選項-------------------------------- */
header {
    width: 100%;
    height: 100px;
    background-color: #D3E4CD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

/* --------------漢堡線(隱藏)------------------- */

header .hamburger{
    display: none;
    width: 40px;
}

/* -----------選單中的登入列(隱藏)------------ */

header .items>.login{
    display: flex;
    display: none;
}

header .items>.login a{
    color: #649255;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}


/* -------------------------------------------- */

header ul {
    display: flex;
    display: block;
}


header img {
    width: 25vw;
    flex-shrink: 0;
    line-height: 100px;
    margin-left: 20px;
}

.items {
    display: flex;
    gap: 4vw;
    position: relative;
}

.items li {
    height: 100px;
}


.items a {
    text-decoration: none;
    color: #606060;
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
}

.items a:hover {
    font-weight: 600;
    color: #649255;
}
/* ---------------------子選單-------------------- */
.items li>ol {
    position: absolute;
    display: block;
    background-color: #d3e4cdb3;
    display: none;
}

.items li>ol li {
    width: 160px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid #649255;
}

.items li>ol a {
    line-height: 60px;
}


.items li:nth-child(2):hover ol {
    display: block;
}

/* ----------------------搜尋 會員登入---------------------------- */

.icon {
    display: flex;
    margin-right: 20px;
}

.icon li {}

.icon a {}

.icon img {
    width: 24px;
    height: 24px;
    margin: 10px;
}

/* -----------------內容區---------------------- */
main{
    background-image: url(../image/concept\ bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-top: 100px;
    display: flex;
}

/* -----------------左邊圖片和文字----------------- */
.photo{
    position: relative;
}
.photo img{
    height: 500px;
    margin-left: 120px;
    margin-top: 40px;
}


.photo h3{
    color: #FD983A;
    font-family: Carattere;
    font-size: 26px;
    position: absolute;
    top: 30%;
    left: 30%;
    text-align: center;
    transition: all 1s;
    animation: text 1s cubic-bezier(.1,.65,.53,1.31)  forwards;
}

@keyframes text{
    0%{
        top:250px;
        opacity: 0;
    }
    100%{
        top:150px;
        opacity: 1;
    }
}


/* ---------------右邊文字說明------------------ */
.text{
    text-align: center;
    margin-top: 70px;
    margin-left: 6vw;
}

.text img{
    width: 25vw;
}

.text h1{
    color: #464646;
    text-align: center;
    font-family: "Noto Sans TC";
    font-size: 40px;
    font-weight: 500;
   
}

.text h2{
    color: #85b078;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
}

.text p{
    color: #464646;
    font-family: "Noto Sans TC";
    font-size: 16px;
    line-height: 2; 
}


/* ------------------頁尾------------------- */
/* --------------頁尾------------------- */
footer {
    height: 280px;
    background-color: #D3E4CD;
}

.bottom {
    width: 792px;
    height: 210px;
    margin: 0 auto;
    padding: 28px;
}

.bottom ul {
    display: flex;
    width: 570px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 8px;
}

.bottom li {}

.bottom a {
    color: #606060;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.bottom a:hover {
    font-weight: 600;
    color: #649255;
}

.bottom img {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.bottom p {
    font-family: "Noto Sans TC";
    color: #606060;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
    line-height: 1.5;
}





 






