@import url(reset.css);


body {
    font-family: "Carattere", "Noto Sans TC";
    font-weight: 400;
    font-style: normal;
}

/* -----------------頁首選單區--------------------------------- */
/* -----------------選單選項-------------------------------- */
header {
    width: 100%;
    height: 100px;
    background-color: #D3E4CD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}

header ul {
    display: flex;
    display: block;
}


header img {
    width: 300px;
    flex-shrink: 0;
    line-height: 100px;
    margin-left: 20px;
}

.items {
    display: flex;
    gap: 68px;
    position: relative;
}

.items li {
    height: 100px;
}


.items a {
    text-decoration: none;
    color: #606060;
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
}

.items a:hover {
    font-weight: 600;
    color: #649255;
}

/* ---------------------子選單-------------------- */
.items li>ol {
    position: absolute;
    display: block;
    background-color: #d3e4cdb3;
    display: none;
}

.items li>ol li {
    width: 160px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid #649255;
}

.items li>ol a {
    line-height: 60px;
}


.items li:nth-child(2):hover ol {
    display: block;
}


/* ----------------------搜尋 會員登入---------------------------- */

.icon {
    display: flex;
    margin-right: 20px;
}

.icon li {}

.icon a {}

.icon img {
    width: 24px;
    height: 24px;
    margin: 10px;
}

/* -------------首圖區塊--------------- */
.banner {
    display: flex;
    padding-top: 100px;
    font-size: 0;
}

/* ---------左邊---------------- */
.left {}

.left img {
    width: 100%;
}

/* --------右邊-------------- */
.right {}

.right img {
    width: 100%;
}

/* ----------熱門排行--------------- */

.ranking {
    height: 588px;
    background-color: #FCF7EC;
    padding-top: 20px;
    font-size: 0;
}

/* ---------標題------------ */
.ranking h2 {
    color: #FE9C39;
    font-family: "Noto Sans TC";
    font-size: 32px;
    font-weight: 700;
    display: block;
    width: 164px;
    height: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #FE9C39;
    margin-left: 64px;
}

.ranking img {
    width: 24px;
}

/* ---------數字圖片和文字------------ */
.ranking .item1 {
    display: flex;
    position: relative;
    width: 380px;
    float: left;
    margin: 30px auto 0 28px;
}

.ranking .item1 .number {
    color: #FFDBA9;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #FFC172;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 210px;
    font-weight: 600;
    width: 160px;
}

.ranking .text {
    position: absolute;
    top: 80px;
    left: 100px;
}

.ranking .text a {
    text-decoration: none;
}


.ranking .text .pic {
    width: 282px;
    height: 282px;
    overflow: hidden;
    border-radius: 20px;
}

.ranking .text img {
    width: 282px;
    height: 282px;
    border-radius: 20px;
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.ranking .text img:hover {
    transform: scale(1.2, 1.2);
}

.ranking .text h3 {
    color: #313131;
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-weight: 400;
    margin-top: 12px;
}

.ranking .text h3:hover {
    color: #649255;
    font-weight: 600;
}

.ranking .text p {
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 42px;
}

.ranking .text p:hover {
    color: #649255;
    font-weight: 700;
}

/* ----------鮮花小教室---------------- */
.flowerclass {
    height: 600px;
    background-color: #FCF7EC;
    display: flex;
}

/* --------標題--------------- */
.flowerclass h1 {
    color: #FE9C39;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    writing-mode: vertical-lr;
    width: 56px;
    height: 332px;
    border-radius: 80px;
    border: 2px solid #FE9C39;
    background: #FCF7EC;
    text-align: center;
    letter-spacing: 10px;
    margin-top: 110px;
    margin-left: 80px;
}


.flowerclass h1:hover {
    background-color: #ffdba9;
    color: #FCF7EC;
    border: 2px solid #ffc172;
}

/* ----------內文-------------- */
.word {
    margin-left: 40px;
    margin-top: 68px;
}

.word h2 {
    color: #464646;
    font-family: Carattere;
    font-size: 96px;
    font-weight: 400;
}

.word p {
    color: #505050;
    font-size: 20px;
    font-weight: 400;
    line-height: 48px;
}

.word p+p {
    margin-top: 16px;
}

.flowerclass img {
    width: 410px;
    height: 426px;
    margin-top: 100px;
}

/* --------------商品區------------------ */
main {
    background-image: url(../image/freshflower\ product\ bg.png);
    background-repeat: no-repeat;
    padding-top: 48px;
}

/* -----------花束標題---------------- */
.title {}

.title ul {
    width: 1188px;
    color: #649255;
    font-family: Carattere;
    font-size: 70px;
    font-weight: 400;
    margin: 0 auto;
}

.title li {}

.title li:nth-child(2) {
    text-align: right;
}

.title a {
    color: #606060;
    font-family: "Noto Sans TC";
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
}

.title a:hover {
    color: #606060;
    font-size: 18px;
    font-weight: 600;
}

.title img {
    width: 12px;
    height: 12px;
    margin-left: 4px;
}

/* ----------花束商品列------------- */
.bouquet {
    font-size: 0;
    width: 1188px;
    margin: 0 auto;
}

.bouquet ul {
    display: flex;
    flex-wrap: wrap;
    width: 1188px;
    justify-content: space-between;
}

.bouquet li {}

.bouquet a {
    text-decoration: none;
}

.bouquet .pic {
    width: 282px;
    height: 282px;
    overflow: hidden;
    border-radius: 20px;
}

.bouquet img {
    width: 282px;
    height: 282px;
    border-radius: 20px;
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.bouquet img:hover {
    transform: scale(1.2, 1.2);
}



.bouquet h3 {
    color: #313131;
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-weight: 400;
    margin-top: 12px;
}

.bouquet h3:hover {
    color: #649255;
    font-weight: 600;
}

.bouquet p {
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 42px;
}

.bouquet p:hover {
    color: #649255;
    font-weight: 700;
}


/* -----------盆花標題--------------- */
.title-pot {}

.title-pot ul {
    width: 1188px;
    margin: 0 auto;
}

.title-pot li {
    color: #649255;
    font-size: 70px;
    text-align: right;
}

.title-pot a {
    color: #606060;
    font-family: "Noto Sans TC";
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
}

.title-pot a:hover {
    color: #606060;
    font-size: 18px;
    font-weight: 600;
}

.title-pot img {
    width: 12px;
    height: 12px;
    margin-left: 4px;
}

/* ------------盆花商品列-------------- */
.pottedflowers {
    font-size: 0;
    width: 1188px;
    margin: 0 auto;
}

.pottedflowers ul {
    display: flex;
    flex-wrap: wrap;
    width: 1188px;
    justify-content: space-between;
}

.pottedflowers li {}

.pottedflowers a {
    text-decoration: none;
}

.pottedflowers .pic {
    width: 282px;
    height: 282px;
    overflow: hidden;
    border-radius: 20px;
}

.pottedflowers img {
    width: 282px;
    height: 282px;
    border-radius: 20px;
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.pottedflowers img:hover {
    transform: scale(1.2, 1.2);
}

.pottedflowers h3 {
    color: #313131;
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-weight: 400;
    margin-top: 12px;
}

.pottedflowers h3:hover {
    color: #649255;
    font-weight: 600;
}

.pottedflowers p {
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 42px;
}

.pottedflowers p:hover {
    color: #649255;
    font-weight: 700;
}


/* --------------頁尾------------------- */
footer {
    width: 100%;
    height: 280px;
    background-color: #D3E4CD;
}

.bottom {
    width: 792px;
    height: 210px;
    margin: 0 auto;
    padding: 28px;
}

.bottom ul {
    display: flex;
    width: 570px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 8px;
}

.bottom li {}

.bottom a {
    color: #606060;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.bottom a:hover {
    font-weight: 600;
    color: #649255;
}

.bottom img {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.bottom p {
    font-family: "Noto Sans TC";
    color: #606060;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
    line-height: 1.5;
}