@import url(reset.css);


body {
    font-family: "Carattere", "Noto Sans TC";
    font-weight: 400;
    font-style: normal;
}

/* -----------------頁首選單區--------------------------------- */
/* -----------------選單選項-------------------------------- */
header {
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
}

header ul {
    display: flex;
    display: block;
}


header img {
    width: 300px;
    flex-shrink: 0;
    line-height: 100px;
    margin-left: 20px;
}

.items {
    display: flex;
    gap: 68px;
    position: relative;
}

.items li {
    height: 100px;
}


.items a {
    text-decoration: none;
    color: #606060;
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
}

.items a:hover {
    font-weight: 600;
    color: #649255;
}

/* ---------------------子選單-------------------- */
.items li>ol {
    position: absolute;
    display: block;
    background-color: #d3e4cdb3;
    display: none;
}

.items li>ol li {
    width: 160px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid #649255;
}

.items li>ol a {
    line-height: 60px;
}


.items li:nth-child(2):hover ol {
    display: block;
}


/* ----------------------搜尋 會員登入---------------------------- */

.icon {
    display: flex;
    margin-right: 20px;
}

.icon li {}

.icon a {}

.icon img {
    width: 24px;
    height: 24px;
    margin: 10px;
}

/* ---------------首頁banner----------------------- */
.banner{
    background-image: url(../image/index-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 200px;
}

.frame{
    border: 3px solid #FCF7EC;
    width: 680px;
    margin: 0 auto;
    padding-top: 16px;
    border-radius: 50% 50% 20px 20px ;
}


.swiper {
    border-radius: 50% 50% 20px 20px ;
    width: 650px;
}
.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img{
    background-size: contain;
    width: 650px;
    border-radius: 50% 50% 20px 20px ;
}

.swiper-pagination-bullet-active{
    background: #fff;

}

.swiper .swiper-pagination-bullet{
 background: #fff;
}


.banner h3{
    color: #649255;
    font-family: Carattere;
    font-size: 56px;
    position: absolute;
    right: 60px;
    top: 150px;
    z-index: 3;
}


.banner h2{
    color:#649255;
    font-family: Carattere;
    font-size: 64px;
    position: absolute;
    bottom: 60px;
    left: 70px;
    z-index: 3;
}

/* --------------情人節專區------------------------- */
.valentine{
    background-color: #FCF7EC;
    height: 600px;
    width: 100%;
    position: relative;
}

.valentine img{
    border-radius: 30px;
    margin-top: 86px;
    margin-left: 90px;
    width: 800px;
}

.first-block{
    width: 490px;
    height: 206px;
    border-radius: 30px;
    background-color: rgba(255, 217, 220, 0.45);
    position: absolute;
    top:316px;
    left: 698px;
}

.valentine h1{
    color:#464646;
    text-shadow: 4px 4px 4px #FFF;
    font-family: Carattere;
    font-size: 128px;
    position: absolute;
    top:236px ;
    left: 818px;
}

/* ---------------畢業專區------------------- */
.graduation{
    background-color: #FCF7EC;
    height: 600px;
    position: relative;
}

.graduation img{
    border-radius: 30px;
    margin-left: 386px;
    margin-top: 76px;
    width: 800px;
}

.second-block{
    width: 490px;
    height: 206px;
    border-radius: 30px;
    background-color:rgba(254, 247, 212, 0.59);
    position: absolute;
    top: 310px;
    left: 90px;
}

.graduation h1{
    color:#464646;
    text-shadow: 4px 4px 4px #FFF;
    font-family: Carattere;
    font-size: 128px;
    position: absolute;
    top: 230px;
    left: 110px;
}

/* --------------婚禮專區------------------- */
.wedding{
    background-color: #FCF7EC;
    height: 600px;
    position: relative;
}

.wedding img{
    border-radius: 30px;
    margin-top: 46px;
    margin-left: 90px;
    width: 800px;
}

.third-block{
    width: 490px;
    height: 206px;
    border-radius: 30px;
    background-color:rgba(255, 255, 255, 0.50);
    position: absolute;
    top:276px;
    left: 698px;
}

.wedding h1{
    color:#464646;
    text-shadow: 4px 4px 4px #FFF;
    font-family: Carattere;
    font-size: 128px;
    position: absolute;
    top:196px ;
    left: 818px;
}

/* --------------頁尾------------------- */
footer {
    width: 100%;
    height: 280px;
    background-color: #D3E4CD;
}

.bottom {
    width: 792px;
    height: 210px;
    margin: 0 auto;
    padding: 28px;
}

.bottom ul {
    display: flex;
    width: 570px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 8px;
}

.bottom li {}

.bottom a {
    color: #606060;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.bottom a:hover {
    font-weight: 600;
    color: #649255;
}

.bottom img {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.bottom p {
    font-family: "Noto Sans TC";
    color: #606060;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
    line-height: 1.5;
}

