@import url(reset.css);


body {
    font-family: "Carattere", "Noto Sans TC";
    font-weight: 400;
    font-style: normal;
}

/* -----------------頁首選單區--------------------------------- */
/* -----------------選單選項-------------------------------- */
header {
    width: 100%;
    height: 100px;
    background-color: #D3E4CD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

/* --------------漢堡線(隱藏)------------------- */

header .hamburger{
    display: none;
    width: 40px;
}

/* -----------選單中的登入列(隱藏)------------ */

header .items>.login{
    display: flex;
    display: none;
}

header .items>.login a{
    color: #649255;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

/* ----------------------------------------------- */


header ul {
    display: flex;
    display: block;
}


header img {
    width: 25vw;
    flex-shrink: 0;
    line-height: 100px;
    margin-left: 20px;
}

.items {
    display: flex;
    gap: 4vw;
}

.items li {}


.items a {
    text-decoration: none;
    color: #606060;
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
}

.items a:hover {
    font-weight: 600;
    color: #649255;
}

/* ---------------------子選單-------------------- */
.items li+.list ol {
    position: absolute;
    display: block;
    background-color: #e9f2e6;
    display: none;
    padding: 0 20px;
}

.items li+.list>ol li {
    width: 120px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid #649255;
}

.items li+.list>ol li:nth-child(3){
    border-bottom: none;
}

.items li+.list>ol a {
    line-height: 60px;
}


.items>li+.list:hover ol {
    display: block;
}


/* ----------------------搜尋 會員登入---------------------------- */

.icon {
    display: flex;
    margin-right: 20px;
}

.icon li {}

.icon a {}

.icon img {
    width: 24px;
    height: 24px;
    margin: 10px;
}

/* ----------------------首圖大圖區---------------------------- */

.top {
    font-size: 0;
    position: relative;
}

.top img {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.top h2 {
    position: absolute;
    color: #FFF;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.20);
    font-size: 60px;
    font-weight: 400;
    left: 44px;
    bottom: 40px;
    transition: all 1.5s;
    animation: title 1.5s forwards;
}

@keyframes title{
    0%{
        left: -500px;
        opacity: 0;
    }
    100%{
        left: 44px;
        opacity: 1;
    }
}

/* ---------------------中間內容區----------------------------------- */

main {
    background-image: url(../image/wedding\ bg.png);
    height: 2052px;
    background-size: cover;
}

/* -----------------------鮮花捧花------------------------- */

.freshflower {
    width: 94vw;
    margin: 0px auto;
    padding-top: 30px;
}

.bread {}

.bread a {
    color: #606060;
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.bread a:hover {
    font-weight: 600;
}


.freshflower>.bread img {
    width: 12px;
    height: 12px;
    margin-left: 4px;
}


.title {
    border-bottom: 2px solid #649255;
    display: flex;
    width: 1188px;
    height: 60px;
    margin-bottom: 30px;
}

.title li {
    color: #649255;
    font-family: "Noto Sans TC";
    font-size: 28px;
    font-weight: 700;
    line-height: 60px;
}

.title a {
    color: #606060;
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-weight: 400;
    float: right;
}

.title a:hover {
    color: #606060;
    font-size: 18px;
    font-weight: 600;
}


.title li img {
    width: 12px;
    height: 12px;
    margin-left: 4px;
}

.freshflower ul {
    display: flex;
    justify-content: space-between;
    font-size: 0;
    flex-wrap: wrap;
}

.freshflower li {}

.freshflower a {
    text-decoration: none;
}

.freshflower .pic {
    width: 282px;
    height: 282px;
    overflow: hidden;
    border-radius: 20px;
}

.freshflower img {
    width: 282px;
    height: 282px;
    border-radius: 20px;
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.freshflower img:hover {
    transform: scale(1.2, 1.2);
}

.freshflower h4 {
    color: #505050;
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
    width: 282px;
}

.freshflower h4:hover {
    color: #649255;
    font-weight: 600;
}

.freshflower p {
    color: #606060;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 132px;
}

.freshflower p:hover {
    color: #649255;
    font-weight: 700;
}


/* ------------------中間圖片區------------------------ */

.photo {
    width: 469px;
    border-radius: 30px;
    margin-left: 128px;
    margin-bottom: 64px;
}

.middle {
    float: right;
    margin-right: 160px;
}

.middle h3 {
    color: #505050;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    /* margin-top: 30px; */
}

.middle p {
    color: #606060;
    text-align: justify;
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 30px;
}

/* ------------------永生捧花---------------------- */

.dry {
    width: 94vw;
    margin: 0px auto;
    font-size: 0;
}

.dry-title {
    border-bottom: 2px solid #649255;
    display: flex;
    width: 1188px;
    height: 60px;
    display: flex;
}

.dry-title li {
    color: #649255;
    font-family: "Noto Sans TC";
    font-size: 28px;
    font-weight: 700;
    line-height: 60px;
}

.dry-title a {
    color: #606060;
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-weight: 400;
    float: right;
}

.dry-title a:hover {
    color: #606060;
    font-size: 18px;
    font-weight: 600;
}

.dry-title li img {
    width: 12px;
    height: 12px;
    margin-left: 4px;
}

.dry ul {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dry li {}

.dry a {
    text-decoration: none;
}

.dry img {
    width: 282px;
    height: 282px;
    border-radius: 20px;
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.dry img:hover {
    transform: scale(1.2, 1.2);
}

.dry .pic {
    width: 282px;
    height: 282px;
    overflow: hidden;
    border-radius: 20px;
}

.dry li h4 {
    color: #313131;
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
}

.dry li h4:hover {
    color: #649255;
    font-weight: 600;
}

.dry li p {
    color: #606060;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 46px;
}

.dry li p:hover {
    color: #649255;
    font-weight: 700;
}

/* ---------------永生胸花------------------------ */

.corsage {
    width: 1188px;
    margin: 0px auto;
    font-size: 0;
}

.cor-title {
    border-bottom: 2px solid #649255;
    display: flex;
    width: 94vw;
    height: 60px;
    display: flex;
}

.cor-title li {
    color: #649255;
    font-family: "Noto Sans TC";
    font-size: 28px;
    font-weight: 700;
    line-height: 60px;
}

.cor-title a {
    color: #606060;
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-weight: 400;
    float: right;
}

.cor-title a:hover {
    color: #606060;
    font-size: 18px;
    font-weight: 600;
}


.cor-title li img {
    width: 12px;
    height: 12px;
    margin-left: 4px;
}

.corsage ul {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}

.corsage li {}


.corsage a {
    text-decoration: none;
}

.corsage .pic {
    width: 282px;
    height: 282px;
    overflow: hidden;
    border-radius: 20px;
}

.corsage img {
    width: 282px;
    height: 282px;
    border-radius: 20px;
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.corsage img:hover {
    transform: scale(1.2, 1.2);
}

.corsage h4 {
    color: #505050;
    font-family: "Noto Sans TC";
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
}

.corsage h4:hover {
    color: #649255;
    font-weight: 600;
}

.corsage p {
    color: #606060;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 46px;
}

.corsage p:hover {
    color: #649255;
    font-weight: 700;
}

/* ---------------頁尾--------------------------- */

footer {
    width: 100%;
    height: 280px;
    background-color: #D3E4CD;
}

.bottom {
    width: 62vw;
    height: 210px;
    margin: 0 auto;
    padding: 28px;
}

.bottom ul {
    display: flex;
    width: 45vw;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 8px;
}

.bottom li {}

.bottom a {
    color: #606060;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.bottom a:hover {
    font-weight: 600;
    color: #649255;
}

.bottom img {
    display: block;
    width: 400px;
    margin: 0 auto;
}

.bottom p {
    font-family: "Noto Sans TC";
    color: #606060;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
    line-height: 1.5;
}