/* --------------當螢幕小於820時------------------- */
@media screen and (max-width:820px){
/* ------------------頁首選單區-------------------- */
header{
    height: 60px;
}

header img{
    width: 200px;
}

.items{
    width: auto;
    gap: 28px;
}

.items a{
    font-size: 16px;
}

/* ---------------------子選單---------------------- */
.items li+.list ol {
    position: absolute;
    display: block;
    background-color: #e9f2e6;
    display: none;
    top: 60px;
    position: fixed;
    padding: 0 10px;
}

.items li+.list>ol li {
    width: 90px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #649255;
}

.items li+.list>ol a {
    line-height: 50px;
}


/* ---------------------點擊時顯示子選單-----------------*/
.list.active ol {
    display: block; 
    }

/* -------------------內容區--------------------------- */
.top{
    margin-top: 60px;
}
/* ------------------永生花介紹------------------------- */
/* --------------------左邊圖片------------------------ */
.photo{
    margin-left: 40px;
}

.photo img{
    height: 300px;
}


/*-----------------------右邊文字------------------------ */
.explain{
    margin-left: 32px;
    padding-right: 20px;
    height: 400px;
}


.explain h1{
    font-size: 66px;
}

.explain p{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
}

.explain h2{
    font-size: 16px;
    line-height: 1.5;
}

/* -------------------花束租借--------------------------- */
.bouquet{
    height: 468px;
}
/* -----------------左邊花束租借說明文字------------------- */

.lease{
    margin-left: 6px;
}

.lease ul{
    padding-left: 10px;
}

.lease li p{
    font-size: 16px;
    line-height: 2;
}

.lease li h4{
    font-size: 26px;
}

/* -------------------圖片幻燈片-------------------------- */
.picture-slideshow{
    margin-left: 0;
}



.picture-slideshow .slide img{
    height: 300px;
    margin-top: 110px;
}


/* -----------------熱門排名----------------- */
.ranking{
    height: 400px;
}
/* ------------------標題--------------------------- */
.ranking h2{
    font-size: 24px;
    width: 126px;
}
/* ------------------標題圖片和數字------------------------- */
.ranking .text .pic{
    height: 160px;
    width: 160px;
}

.ranking .text img{
    width: 160px;
    height: 160px;
}

.ranking .item1{
    margin-left: 15px;
}

.ranking .text h3{
    font-size: 16px;
}

.ranking .text p{
    font-size: 14px;
}

/* --------------------商品區----------------------------- */
/* --------------------花束------------------------------ */
.title{
    width: 90vw;
    margin: 0 auto;
}

.title ul{
    width: 90vw;
    font-size: 64px;
}

.title a{
    font-size: 16px;
}

/* ---------------------商品列----------------------------- */
.preserved{
    width: 90vw;
}
.preserved ul{
    width: 90vw;
    justify-content:none;
}

.preserved a{
    width: 160px;
    height: 160px;
}

.preserved .pic{
    width: 160px;
    height: 160px;
}

.preserved img{
    width: 160px;
    height: 160px;
}

.preserved h3{
    overflow-wrap: break-word;
    width: 160px;
    font-size: 16px;
    line-height: 1.2;
}

.preserved p{
    font-size: 14px;
    margin-bottom: 20px;
}

/* ------------------------盆花標題---------------------------- */
.title-pot ul{
    width: 90vw;
    padding-top: 20px;
}

.title-pot li{
    font-size: 64px;
}

.title-pot a{
    font-size: 16px;
}

/* ---------------------盆花商品列--------------------------- */
.pottedflowers{
    width: 90vw;
}
.pottedflowers ul{
    width: 90vw;
    justify-content:none;
}

.pottedflowers a{
    width: 160px;
    height: 160px;
}

.pottedflowers .pic{
    width: 160px;
    height: 160px;
}

.pottedflowers img{
    width: 160px;
    height: 160px;
}

.pottedflowers h3{
    overflow-wrap: break-word;
    width: 160px;
    font-size: 16px;
    line-height: 1.2;
}

.pottedflowers p{
    font-size: 14px;
    margin-bottom: 20px;
}

/* -------------------------頁尾------------------------------ */
.bottom{
    width: auto;
    padding: 28px 90px 0;
}
}

/* ---------------------當螢幕小於430時------------------------ */
@media screen and (max-width:430px){
header img{
    width: 180px;
}     

header .hamburger{
    display: block;
    margin-right: 10px;
}
main{
    background-size: cover;
    height: 800px;
}

.frame{
    width: 88vw;
}

.information{
    width: 84vw;
    margin: 5px 6px;
}

/* --------------將選單中隱藏的登入列顯示--------- */
    
header .items>.login{
    display: flex;
    border-bottom: 1px solid #b1cea7;
    width: 100%;
    background-color: #ddedda;
}

header .items>.login li{
    flex-grow: 1;
    padding-left: 10px;
    text-align: center;
}

header .items>.login a{

}

/* -----------------頁首選單區-------------------- */
.items{
    flex-direction: column;
    gap: 0px;
    width: 70%;
    background-color: #f5f9f4;
    position: absolute;
    top: 60px;
    right: -430px;
    transition: right 1s ease;
}

/* -----------------點選漢堡線後從右側滑入選單------------ */
.items.active {
    right:0;
    position: absolute;
}

/* ----------------------------------------------------- */

.items li{
    height: 50px;
    border-bottom: 1px solid #b1cea7;
    padding-left: 20px;
}
.items a{
    line-height: 50px;
    color: #989898;
    font-weight: bold;
    display: block;
}

header .items>li:nth-child(3){
    margin-bottom: 120px;
}

/* -------------選單列的子選單----------------- */

.items li+.list ol{
    display: block;
    position: static;
    background-color:#f5f9f4 ;
    padding: 0 20px;
    border-top: 1px solid #b1cea7;
}

.items li+.list>ol li{
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: left;
    border-bottom: 1px solid #b1cea7;

}

.items li+.list>ol li:nth-child(3){
    border-bottom:1px solid #b1cea7;
}

.items li+.list>ol a{
    line-height: 40px;
}


/* ---------------------點擊時顯示子選單-----------------*/
.list.active ol {
    display: block; 
  }

/* --------------------登入列隱藏----------------- */
.icon{
    display: none;
}

/* ---------------------內容區-------------------------- */
.top{
    height: 1930px;
}
/* ---------------------永生花介紹----------------------- */
.introduce{
    flex-direction: column;
}

.photo{
   margin: 0 auto;
}

.photo img{
    height: 360px;
}

/* ---------------------說明文字------------------------- */
.explain{
    margin: 0px auto 100px;
    padding: 0 30px;
}

.explain h1{
    font-size: 60px;
}

/* --------------------花束租借說明文字-------------------- */
.bouquet{
    flex-direction: column;
    height: 940px;
}

.lease{
    padding-top: 70px;
}


.lease .slogan h3{
    font-size: 24px;
    margin: 0px auto 30px;
    text-align: center;
}
/* --------------------圖片幻燈片------------------------ */
.slide{
 
}
.picture-slideshow{
 
}

.picture-slideshow .slide img{
    margin: 0;
    margin-left: 25vw;
}








/* -------------------熱門排行數字圖片和文字-------------- */
.ranking {
    height: 920px;
}

.ranking .item1{
    margin: 20px auto 0 25%;
    flex-direction: column;
}

.ranking>.item1:nth-child(3),.ranking>.item1:nth-child(4){
    margin-top: 200px;
}

/* ------------------商品區------------------------------- */
main{
    height: 1370px;
}

/* -----------------頁尾------------------------- */
footer{
    height: 200px;
}

.bottom{
    width: auto;
    height: 170px;
    margin: 0 auto;
    padding: 10px;
}

.block h1{
    width: auto;
    font-size: 66px;
}

.bottom img{
    width: 60vw;
}

.bottom ul{
    width: 80vw;
}

.bottom a{
    font-size: 14px;
}

.bottom p{
    width: 80vw;
    font-size: 10px;
    margin: 16px auto 0;
}

}